@import "./partials/base";
@import "./partials/phone";
@import "./partials/main";

.sr-only {
  position: absolute;
  z-index: -999;
  transform: scale(0);
  opacity: 0;
  left: -9999999999px;
  top: -9999999999px;
  pointer-events: none;
}

// parent body
body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  overflow-x: hidden;
}

// header section

header {
  min-height: 90vh;
  display: grid;
  place-items: center;
  position: relative;
}

@import "./partials/pattern";
@import "./partials/queries";
